*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #eeeeee;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #af7474;
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

header nav ul li a{
    color: #000;
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    background-color: #612b2b;
}